<footer *ngIf="!TokenAdmin" class="footer">
  <div class="footer-middle">
      <div class="container">
          <div class="footer-ribbon">
              Get in touch
          </div><!-- End .footer-ribbon -->
          <div class="row">
              <div class="col-lg-3">
                  <div class="widget">
                      <h4 class="widget-title">Contact Us</h4>
                      <ul class="contact-info">
                          <li>
                              <span class="contact-info-label">Address:</span>81 AV HABIB BOURGUIBA ARIANA 2080
                          </li>
                          <li>
                              <span class="contact-info-label">Phone:</span><a href="javascript:void(0)">+ 216 71 710 553</a>
                          </li>
                          <li>
                              <span class="contact-info-label">Email:</span> <a href="javascript:void(0)">foxcommercegeneral@gmail.com</a>
                          </li>
                          <li>
                              <span class="contact-info-label">Working Days/Hours:</span>
                              Mon - Sun / 9:00AM - 8:00PM
                          </li>
                      </ul>
                      <div class="social-icons">
                        <a href="https://www.facebook.com" class="social-icon" target="_blank"><i><img src="https://img.icons8.com/color/25/000000/facebook.png"></i></a>
                        <a href="https://twitter.com" class="social-icon" target="_blank"><i><img src="https://img.icons8.com/color/25/000000/twitter.png"></i></a>
                        <a href="https://www.instagram.com" class="social-icon" target="_blank"><i ><img src="https://img.icons8.com/office/25/000000/instagram-new.png"></i></a>
                      </div><!-- End .social-icons -->
                  </div><!-- End .widget -->
              </div><!-- End .col-lg-3 -->

          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .footer-middle -->

  <div class="container">
      <div class="footer-bottom">
          <p class="footer-copyright">Porto eCommerce. &copy;  2018.  All Rights Reserved</p>

          <img src="./../../assets/images/payments.png" alt="payment methods" class="footer-payments">
      </div><!-- End .footer-bottom -->
  </div><!-- End .container -->
</footer><!-- End .footer -->
