
<main class="main">
  <div class="page-header page-header-bg" style="background-image: url('./../../assets/images/page-header-bg.jpg');">
      <div class="container">
          <h1><span>ABOUT US</span>
              OUR COMPANY</h1>
          <a routerLink="/contactus" class="btn btn-dark" >Contact</a>
      </div><!-- End .container -->
  </div><!-- End .page-header -->



  <div class="about-section">
      <div class="container">
          <h2 class="subtitle">Notre Histoire</h2>
          <p> La société FOX DE COMMERCE GENERAL dont la devise est « le commerce vous ouvre son cœur » a été crée en 2018. Situer au cœur de l'ecocomie Tunisio algerienne, elle bénéficie d’une expertise de son fondateur et une partenariat avec un panel de fournisseurs et producteurs sélectionnés sur la base de leurs compétitivités, la qualité de leurs produits et surtout leurs rénommé.
          <h2 class="subtitle">Secteur d'activité</h2>
           <p> La societe FOX DE COMMERCE GENERAL  œuvre dans les domaine de l’import ainsi que l’export de biens allant de l'agroalimentaire, le cosmetique, habillement et encore des equipemment industriel.<br> FOX Commerce General couvre aussi les activités de destribution, la commercialisation et la negoce des produits/services pour le compte de ces clients. </p>
          <p>L’impor-Export. La société FOX DE COMMERCE GENERAL est spécialisé dans l’Import-export, de tout type de produits.

            Et à développer une parfaite maîtrise des opérations de transport à l'international. Distribution ; Nous sommes distributeur exclusif de plusieurs marque à travers le Monde. Négoce ; Quelque soit votre secteur d'activité nous entretenons une relation sérieuse avec nos partenaires. Engagements

            ; La societe FOX DE COMMERCE GENERAL s'engage dans le développement durable et choisi des partenaires et des procédés de fabrication ayant le moindre impact environnemental ... Presente sur plusieurs pays (Maroc, Guinée Conakry, Mali, Sénégal, Côte-D’Ivoire, Liberia, Sierra-Leone, Angola, Chine, Dubaï, France, Allemagne, Canada, New York ETC ........) pour être plus prêt de la clientèle et traite les demandes dans les meilleurs délais</p>

      </div><!-- End .container -->
  </div><!-- End .about-section -->

</main><!-- End .main -->
