<app-navbar></app-navbar>
<main class="main">
    <div class="page-header page-header-bg" style="background-image: url('./../../assets/images/page-header-bg.jpg');">
        <div class="container">
            <h1><span>ABOUT US</span>
                OUR COMPANY</h1>
            <a routerLink="/contactus" class="btn btn-dark">Contact</a>
        </div><!-- End .container -->
    </div><!-- End .page-header -->



    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">Our History</h2>
            <p>The <strong>FOX COMPANY TRADING</strong>
                whose motto is "trade opens your heart"
                was created in 2018. Located in the heart
                of the Tunisian Algerian ecocity, it benefits
                from the expertise of its founder and a partnership with a
                panel of suppliers and producers selected on the basis
                of their competitiveness, the quality of their products and
                especially their renamed
                <h2 class="subtitle">ACTIVITY AREA</h2>
                <p> The <strong>FOX COMPANY TRADING</strong> works in the field of the import as well as the export of goods
                    going of agribusiness, the cosmetics, clothing and still of the industrial equipment.<br>
                    FOX Commerce General also covers the fundraising, marketing and trading of products / services on
                    behalf of these customers. </p>
                <p>The impor-Export. <strong>FOX COMPANY TRADING</strong>
                    specializes in the import-export of all
                    types of products. And to develop a perfect
                    control of international transport operations.
                    Distribution; We are exclusive distributor of several
                    brand around the world. Trading; Whatever your sector
                    of activity we have a serious relationship with our
                    partners. Commitments The company <strong>FOX COMPANY TRADING</strong>
                    is committed to sustainable development and selected partners
                    and manufacturing processes with the least environmental impact ... Present
                    in several countries (Morocco, Guinea Conakry, Mali, Senegal, Ivory Coast,
                    Liberia, Sierra Leone, Angola, China, Dubai, France, Germany, Canada, New York
                    ETC ........) to be more customer ready and process requests as soon as possible
                </p>
        </div><!-- End .container -->
    </div><!-- End .about-section -->

</main><!-- End .main -->
<app-footer></app-footer>